*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, red, blue);
    padding: 10px;
}
.todo-list{
    width: 100%;
    max-width: 740px;
    background: #252525;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-list h2{
    font-size: 64px;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
/* Place holder if we addimage
.todo-list h2 img{
    width: 30px;
    margin-left: 10px;
}*/

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: cadetblue;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    color: white;
    font-size: 32px;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 20px;
}
button{
    border: none;
    outline: none;
    margin-right: 10px;
    padding: 12px 30px;
    background: #404040;
    color: white;
    font-size: 32px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    color: white;
    list-style: none;
    font-size: 32px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-image: url(assets/ring.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #8f8f8f;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(assets/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 32px;
    color: white;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
    
}
ul li span:hover{
    background: grey;
}